body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(57, 49, 160) !important;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}
#calculatedScore{
	color:white !important;
}
#levelHead{
	position:fixed;
	margin-left: 850px;
}
.level{
	display: none;
	position:fixed;
}
.dashes{
	color:white;
}

#timer{
	color: white !important;
}

.letterButton{
	display: inline-flex;
	background-color: #030a02;
	color:white;
	font-size: 30px !important;
	width: 70px;
	margin-top: -300px;
	transition-duration: 0.4s;
}
.letterButton:hover{
	background-color: white;
	color:black;
}
 .letterButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.levelSelectButton{
	background-color: #165510;
	color:white;
	font-size: large;
	transition-duration: 0.4s;
}
.levelSelectButton:hover{
	background-color: white;
	color:black;
}
 
a {
  color: #00B7FF;
}





/* Add a black background color to the top navigation */
.header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
  }


.shuffle{
	position: relative;
	margin-left:50px;
}

.levelSelectButton{
	padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(47, 108, 187);
  color: white;
  text-align: center;
}
#answers{
	position:relative;
	top:90px;
	
}